{
    "extends": "react-app",
    "rules": {
        "prefer-const": ["error"],
        "comma-dangle": ["error", "never"],
        "indent": ["error", 4, { "SwitchCase": 1 }],
        "semi": ["error", "always"],
        "no-mixed-operators": [
            "warn",
            {
                "groups": [
                    ["&", "|", "^", "~", "<<", ">>", ">>>"],
                    ["==", "!=", "===", "!==", ">", ">=", "<", "<="],
                    ["in", "instanceof"]
                ],
                "allowSamePrecedence": true
            }
        ],
        "quotes": ["error", "single"]
    }
}
